.example-spacer {
    flex: 1 1 auto;
  }
  .example-icon {
    padding: 0 14px;
  }
  .example-container {
    width: 100%;
    margin: 10px;
}
.example-form {
    height: 100%;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

p{
    margin:0 !important;
}