
<mat-grid-list  cols="3" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile >
    <mat-card> 

        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Gmail" >
            </mat-form-field>
            <span 
            matTooltip="We use Gmail to protect you from dealing with fraud accounts and notifying with any problem concering your account">
            why?</span>
      
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Anonymous name" >
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            </mat-form-field>
            
            <div class="form-group">
                <button class="sign_in_button" type="button" on-tap="dosomething()" mat-raised-button color="primary">Sign up</button>
            </div>
          </form>  
      


    </mat-card>




  </mat-grid-tile>
  
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>