.example-form {
    height: 100%;
}
  
.example-full-width {
    width: 100%;
}

.sign_in_button{
    width: 100%;

}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }