<mat-toolbar  color="primary">
    <mat-toolbar-row >
        <a href="http://localhost:4200/home" style="color:white;text-decoration: none;">
            <img
            width="25" height="25"
            src="https://pre00.deviantart.net/335a/th/pre/f/2010/340/2/3/ban_facebook_by_nameisraj-d34di1x.png"/>Facebook
        </a>
        <span class="example-spacer">
        </span>
        <span class="example-icon">  
            <button mat-raised-button color="primary" (tap)="logout()">Logout</button>

        </span>
    </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize style="margin-left:0;margin-top:0;">
    <mat-drawer  #drawer class="example-sidenav" mode="side" style="background:#333;">
        <h4 mat-subheader style="color:white">Notifications</h4>
        <div class="list-group" style="width:100%">
            <a href="#"  class="list-group-item l_item  list-group-item-action">Zootopian posted in Group CAX </a>
            <a href="#" class="list-group-item l_item list-group-item-action">Zootopian posted in Group CEA</a>
            <a href="#" class="list-group-item l_item list-group-item-action">Martin Fowler posted in Group CAX</a>
            <a href="#" class="list-group-item l_item list-group-item-action">Kareem posted in Group ADE</a>
        </div>  
        <h4 mat-subheader style="color:white">Settings</h4>

         <mat-list role="list">
                <mat-list-item  role="listitem"  >
                        <a mat-raised-button (click)="joinGroup()">
                            <p >
                                Join a Group
                            </p>
                        </a>
                </mat-list-item>
                <mat-list-item  role="listitem"  >
                        <a mat-raised-button (click)="createGroup()">
                            <p >
                                Create a Group
                            </p>
                        </a>
                </mat-list-item>
        
                
            <mat-divider style="background-color:white"></mat-divider>
         </mat-list>  

         </mat-drawer>
    
    <div class="example-sidenav-content" style="background:#f5f5f5;padding:15px">
            <button mat-fab color="primary"  
             (click)="drawer.toggle();toggle_marker()" style="position: fixed;bottom:12px;right: 0;font-size:22px">{{notf_val}}</button>


            <div class="container " style="margin-left:0;margin-top:19px;margin-right:0;">
                    <div class="row">
                        <div class="col-3" >
                                <mat-list role="list">
                                    <h3 mat-subheader>Groups</h3>
                                    
                                    <mat-list-item  *ngFor="let item of groups" role="listitem" >
                                            <a mat-button (click)="gotogroup(item)" style="padding-left:0;text-align:left">
                                                <p>
                                                    <img  src="https://cdn4.iconfinder.com/data/icons/oakcons-2/16/Image-512.png" width="15" height="15" />
                                                    {{item.title}}
                                                </p>
                                            </a>
                                    </mat-list-item>
                            
                                <mat-divider></mat-divider>
                             </mat-list>
                
                        </div>
                        <div class="col-9" >
                            <div  style="background-color:white;padding:25px;">
                                <form class="example-form">
                                   
                                    <mat-form-field class="example-full-width">
                                        <textarea  [ngModelOptions]="{standalone: true}"  [(ngModel)]="q_content" rows="5" matInput placeholder="Write your Question"></textarea>
                                    </mat-form-field>
                              
                                    <mat-form-field style="width:70%"> 
                                        <mat-select [(value)]="selectedGroup"  placeholder="Select A group">
                                            <mat-option *ngFor="let item of groups"  [value]="item.title" >{{item.title}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                    
                    
                                    <button class="sign_in_button" type="button" (tap)="postQuestion()"  mat-raised-button color="primary">Post</button>
                                </form>  
                
                
                            </div>
                
                            <div  style="background-color:white;padding:25px;margin-top:17px;">
                                <h3>
                                    <img  src="https://cdn4.iconfinder.com/data/icons/oakcons-2/16/Image-512.png" width="25" height="25" />
                                    CEE group
                                </h3>
                                <hr>
                                <p>
                                    <img  src="../../assets/profile.png " width="25" height="25" />
                                    Martin Fowler
                                </p>
                                <p style="margin-top:19px;padding:12px;margin-bottom:12px">
                                    Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
                                    it to make a type specimen book. It has survived not only five centuries,
                                     but also the leap into electronic typesetting, remaining essentially unchanged. 
                                     It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                     and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                                <img  style="margin-top:12px" width="100%" height="100%"
                                src="http://gulfinfotech.com/wp-content/uploads/revslider/rev_slider_example/placeholder-blue.png"  />
                
                                <p style="color:darkgray">x votes, y answers</p>
                                <div>
                                    <button mat-button style="width:35%">Vote</button>
                                    <button mat-button style="width:35%">Answer</button>
                                </div>
                
                                <div style="padding:11px">
                                    <p>
                                        <img  src="../../assets/profile.png " width="25" height="25" />
                                        Forrest Gump
                                    </p>
                
                                    <p style="padding:18px">
                                        I don't know :V
                                    </p>
                                    <img  style="margin-top:12px" width="80%" height="80%"
                                    src="https://mytectra.in/wp-content/themes/michigan/images/course_no_image.png"  />
                
                                    <p style="color:darkgray">x up, y down</p>
                                    <div>
                                        <button mat-button style="width:35%">approve</button>
                                        <button mat-button style="width:35%">disapprove</button>
                                    </div>
                    
                                </div>
                
                
                                
                
                                <div>
                                    <form class="example-form">
                                
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Write your Answer" matTextareaAutosize matAutosizeMinRows="4"
                                                      matAutosizeMaxRows="10"></textarea>
                                        </mat-form-field>
                                        <button  type="button"  mat-raised-button color="primary">Leave Answer</button>
                
                                    </form>  
                
                                </div>
                                
                            </div>
                
                
                
                
                        </div>
                      </div>
                </div>
                





    </div>
    
</mat-drawer-container>



