
p{
    margin:0 !important;
}

.example-container {
    width: 100%;
    margin: 10px;
}

main{
    justify-content: center;
    text-align: center;
    overflow: visible;
}

.example-form {
    height: 100%;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.blog-footer {
    margin-top:22px;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }